[View in Colaboratory](https://colab.research.google.com/github/tkms0106/python-data-science/blob/master/python_data_science4_24.ipynb)

In [0]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [0]:
ser = Series(np.random.randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [3]:
ser

1  a    0.300201
   b    0.158457
   c   -2.292076
2  a   -0.916339
   b   -0.732911
   c   -0.045590
dtype: float64

In [4]:
ser.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
ser[1]

a    0.300201
b    0.158457
c   -2.292076
dtype: float64

In [6]:
ser[2]

a   -0.916339
b   -0.732911
c   -0.045590
dtype: float64

In [7]:
ser[:,'a']

1    0.300201
2   -0.916339
dtype: float64

In [0]:
dframe = ser.unstack()

In [9]:
dframe

          a         b         c
1  0.300201  0.158457 -2.292076
2 -0.916339 -0.732911 -0.045590

In [10]:
dframe.unstack()

a  1    0.300201
   2   -0.916339
b  1    0.158457
   2   -0.732911
c  1   -2.292076
   2   -0.045590
dtype: float64

In [11]:
dframe.T.unstack()

1  a    0.300201
   b    0.158457
   c   -2.292076
2  a   -0.916339
   b   -0.732911
   c   -0.045590
dtype: float64

In [0]:
dframe2 = DataFrame(np.arange(16).reshape((4,4)),index=[['a','a','b','b'],[1,2,1,2]],columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])

In [13]:
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [0]:
dframe2.index.names = ['INDEX_1','INDEX_2']

In [15]:
dframe2

                  NY      LA   SF
                cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [0]:
dframe2.columns.names = ['Cities','Temp']

In [17]:
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [18]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [19]:
dframe2.sortlevel(1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """Entry point for launching an IPython kernel.

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [20]:
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27