[View in Colaboratory](https://colab.research.google.com/github/tkms0106/python-data-science/blob/master/python_data_science4_18.ipynb)

In [0]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [0]:
ser1 = Series(np.arange(3), index=['a','b','c'])

In [3]:
ser1

a    0
b    1
c    2
dtype: int64

In [4]:
ser1.drop('b')

a    0
c    2
dtype: int64

In [0]:
dframe1 = DataFrame(np.arange(9).reshape((3,3)),index=['SF','LA','NY'], columns=['pop','size','year'])

In [6]:
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [7]:
dframe1.drop('LA')

    pop  size  year
SF    0     1     2
NY    6     7     8

In [8]:
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [10]:
dframe1.drop('year', axis=1)

    pop  size
SF    0     1
LA    3     4
NY    6     7