[View in Colaboratory](https://colab.research.google.com/github/tkms0106/python-data-science/blob/master/python_data_science4_15.ipynb)

In [0]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [0]:
# colaboratoryではクリップボード読み込めないので頑張る
# （加えて動画内と学習時点とでWikipediaの情報が少し異なる）
nfl_frame = DataFrame( {'Rank': [1, 2, 3, 4, 5, 6],
                        'Team': ['Dallas Cowboys', 'Chicago Bears', 'Green Bay Packers', 'Miami Dolphins', 'Baltimore Ravens', 'San Francisco 49ers'],
                        'Won': [510, 752, 741, 443, 182, 545],
                        'Lost': [378, 563, 561, 345, 143, 444],
                        'Tied': [6, 42, 37, 4, 1, 14],
                        'Pct.': [0.574, 0.570, 0.567, 0.562, 0.560, 0.550],
                        'First Season': [1960, 1920, 1921, 1966, 1996, 1950],
                        'Total Games': [894, 1357, 1339, 792, 326, 1003],
                        'Conference': ['NFC East', 'NFC North', 'NFC North', 'AFC East', 'AFC North', 'NFC West']
                       },
    columns=['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First Season', 'Total Games', 'Conference'])

In [11]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West

In [12]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First Season',
       'Total Games', 'Conference'],
      dtype='object')

In [13]:
nfl_frame['First Season']

0    1960
1    1920
2    1921
3    1966
4    1996
5    1950
Name: First Season, dtype: int64

In [14]:
nfl_frame.Team

0         Dallas Cowboys
1          Chicago Bears
2      Green Bay Packers
3         Miami Dolphins
4       Baltimore Ravens
5    San Francisco 49ers
Name: Team, dtype: object

In [15]:
nfl_frame[['Team', 'First Season']]

                  Team  First Season
0       Dallas Cowboys          1960
1        Chicago Bears          1920
2    Green Bay Packers          1921
3       Miami Dolphins          1966
4     Baltimore Ravens          1996
5  San Francisco 49ers          1950

In [16]:
DataFrame(nfl_frame, columns=['Team', 'First Season'])

                  Team  First Season
0       Dallas Cowboys          1960
1        Chicago Bears          1920
2    Green Bay Packers          1921
3       Miami Dolphins          1966
4     Baltimore Ravens          1996
5  San Francisco 49ers          1950

In [18]:
nfl_frame.head(3)

,Rank,Team,Won,Lost,Tied,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North

In [19]:
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First Season,Total Games,Conference
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West

In [20]:
nfl_frame.ix[3]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Rank                         4
Team            Miami Dolphins
Won                        443
Lost                       345
Tied                         4
Pct.                     0.562
First Season              1966
Total Games                792
Conference            AFC East
Name: 3, dtype: object

In [0]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [22]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First Season,Total Games,Conference,Stadium
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,Levi's Stadium
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,Levi's Stadium
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,Levi's Stadium
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,Levi's Stadium
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,Levi's Stadium
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West,Levi's Stadium

In [0]:
nfl_frame['Stadium'] = np.arange(6)

In [24]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First Season,Total Games,Conference,Stadium
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,0
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,1
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,2
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,3
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,4
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West,5

In [0]:
stadiums = Series(["Levi's stadium", 'AT&T Stadium'], index=[4,0])

In [26]:
stadiums

4    Levi's stadium
0      AT&T Stadium
dtype: object

In [0]:
nfl_frame['Stadium'] = stadiums

In [28]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First Season,Total Games,Conference,Stadium
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East,AT&T Stadium
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North,NaN
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North,NaN
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East,NaN
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North,Levi's stadium
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West,NaN

In [0]:
del nfl_frame['Stadium']

In [30]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North
5,6,San Francisco 49ers,545,444,14,0.550,1950,1003,NFC West

In [0]:
data = {'City':['SF', 'LA', 'NYC'], 'Population':[837000,3880000,8400000]}

In [32]:
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [0]:
city_frame = DataFrame(data)

In [34]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000